@import "../../styles/mixins";

.header {
  width: 100vw;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 10;
  transition: transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
    visibility 0.2s ease 0s !important;
  bottom: unset;
  transform: unset;
  padding-bottom: 0px;

  @include _744 {
    bottom: -60px;
    padding-bottom: 60px;
  }

  &-inner {
    display: flex;
    width: 100%;
    height: 60px;
    padding-inline-end: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-inline-start: 2.5rem;
    justify-content: space-between;
    background: transparent;

    @include _744 {
      justify-content: space-around;
      background: #fff;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      border-top: 1px solid #afafaf;
      padding-inline-end: 0;
      padding-inline-start: 0;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;

    &-li {
      display: flex;
      width: auto;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: inherit;
      position: relative;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        background-color: transparent;
        bottom: 0px;
        height: 3px;
        width: 0%;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
        box-shadow: 0 3px 0 0 #ff5b5b;
      }
    }

    &-li-a {
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 40px;
      padding-right: 40px;
      user-select: none;
      position: relative;
      white-space: nowrap;
      vertical-align: middle;
      outline: 2px solid transparent;
      outline-offset: 2px;
      line-height: 24px;
      border-radius: 12px;
      height: max-content;
      min-width: 36px;
      transition: all 0.3s;
      font-size: 16px;
      min-height: 36px;

      & svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}

// .header.is-sticky {
//   position: fixed;
//   margin: 0;
//   top: 0;
//   -webkit-animation-fill-mode: both;
//   animation-fill-mode: both;
//   -webkit-animation-duration: 0.5s;
//   animation-duration: 0.5s;
//   -webkit-animation-name: expand;
//   animation-name: expand;
//   background: #fff;
//   box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);

//   & svg {
//     color: #000;
//   }
// }

.header-list-li.active::before {
  width: 80%;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
  text-decoration: none;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-avatar {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: inherit;
  min-width: 40px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-right: 16px;

  & img {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    border-radius: 100%;
    padding: 6px;
  }
}

.header-helper {
  height: 60px;
  width: 100%;
}

.header-left {
  display: flex;
  width: 100%;
  justify-content: center;
  width: 100%;

  @include _744 {
    justify-content: space-around;
    width: 100%;
  }

  &-icon {
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    -webkit-box-pack: start;
    align-items: center;
    color: inherit;
    position: relative;
    cursor: pointer;

    & p {
      display: none;

      @include _744 {
        font-weight: 400;
        font-size: 10px;
        padding-bottom: 0.25rem;
        text-align: center;
      }
    }

    @include _744 {
      display: flex;
      width: 100%;
      flex-direction: column;
      -webkit-box-pack: start;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: transparent;
      bottom: -5px;
      height: 3px;
      width: 80%;
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
      box-shadow: transparent 0px 3px 0px 0px;
    }

    &-mb-btn {
      display: none;

      & svg {
        width: 24px;
        height: 24px;
        color: #545454;
      }

      @include _744 {
        appearance: none;
        align-items: center;
        user-select: none;
        position: relative;
        background: transparent;
        white-space: nowrap;
        vertical-align: middle;
        outline: 2px solid transparent;
        outline-offset: 2px;
        line-height: 24px;
        font-weight: 600;
        transition: all 0.3s;
        height: max-content;
        min-width: 36px;
        font-size: 16px;
        padding-inline-end: 24px;
        padding-inline-start: 24px;
        color: #000;
        min-height: 36px;
        padding: 0px;
        border-radius: 32px;
        display: flex;
        width: auto;
        justify-content: center;
      }
    }

    &-btn {
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-inline-start: min(3vw, 40px);
      padding-inline-end: min(3vw, 40px);
      appearance: none;
      align-items: center;
      justify-content: center;
      user-select: none;
      position: relative;
      white-space: nowrap;
      vertical-align: middle;
      outline: 2px solid transparent;
      outline-offset: 2px;
      line-height: 24px;
      border-radius: 12px;
      transition: all 0.3s;
      font-weight: 600;
      height: max-content;
      min-width: 36px;
      font-size: 16px;
      background: transparent;
      min-height: 36px;
      color: #fff;
      border: none;

      @include _744 {
        appearance: none;
        display: none;
      }

      & svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}

.header-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex: 0;
  align-items: center;

  @include _744 {
    display: none;
  }

  &-btn {
    margin-right: 0.5rem;
    outline: 0;
    border: none;
    background: transparent;
    color: hsl(0deg 0% 100%);

    & svg {
      width: 28px;
      height: 28px;
      color: currentColor;
    }
  }

  &-avatar {
    margin-right: 0.25rem;
    cursor: pointer;

    & img {
      height: 36px;
      width: 36px;
      min-height: 36px;
      min-width: 36px;
      border-radius: 100%;
      padding: 6px;
    }
  }
}
