@import "../../../styles/mixins";

.guide-profile {
  display: flex;
  padding-top: 108px;
  padding-bottom: 56px;
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 1062px;
  width: 100%;
  margin: 0 auto;

  @include _744 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    padding-top: 0px;
    padding-bottom: 32px;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    max-width: 1062px;
    width: 100%;
  }
}

.guide-profile-avatar {
  height: 325px;
  min-width: 325px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 295px;
  margin-right: 40px;
  margin-bottom: 0px;
  position: relative;

  @include _744 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    --hc-sm-height: 400;
    --hc-sm-width: 375;
    --hc-md-height: 588;
    --hc-md-width: 744;
    --hc-lg-height: 564;
    --hc-lg-width: 1128;
    height: calc(var(--hc-sm-height, 4) / var(--hc-sm-width, 3) * 100vw);
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0px 0px -72px;
    min-width: 0px;
  }

  &-inner {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    border-radius: 32px;

    @include _744 {
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      overflow: hidden;
      border-radius: 0px 0px 32px 32px;
      background: #fff;
    }

    &__picture {
      display: block;
      position: relative;
      height: 100%;

      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center top;
      }
    }
  }
}

.guide-profile-info {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding-inline: 20px;
  width: 100%;
  z-index: 1;
  padding-inline: 0px;

  @include _744 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding-inline: 20px;
    width: 100%;
    z-index: 1;
  }

  &__name {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 8px;

    & h4 {
      font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji";
      background: transparent;
      letter-spacing: normal;
      line-height: 1.2;
      font-size: 24px;
      text-align: left;
      color: #000;
      font-weight: 900;
      margin-right: 16px;
    }

    & svg {
      color: #fff;
      fill: rgba(0, 153, 153, 0.6);
      font-size: 24px;
      border-radius: 100%;
    }
  }

  &__desc {
    width: auto;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
  }

  &__date {
    text-align: left;
    width: 100%;
    margin-bottom: 16px !important;
    font-size: 14px;
    color: #545454;
  }

  &__followers {
    overflow-x: auto;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    width: 100%;
    justify-content: flex-start;

    &-l {
      box-sizing: border-box;
      margin: 0px 40px 16px 0px;
      min-width: 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 24px;

      & h5 {
        font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
          "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji";
        font-weight: 700;
        background: transparent;
        letter-spacing: normal;
        font-size: 20px;
        line-height: 27px;
        color: #009999;
      }

      & p {
        color: #545454;
        font-size: 16px;
      }
    }

    &-r {
      cursor: pointer;
      margin-bottom: 24px;
      box-sizing: border-box;
      margin: 0px 40px 16px 0px;
      min-width: 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & h5 {
        font-size: 20px;
        line-height: 27px;
        font-weight: 700;
      }

      & p {
        color: #545454;
        font-size: 16px;
      }
    }
  }

  &__cities {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;

    &-btn {
      display: flex;
      width: auto;
      margin-right: 0.5rem;
      margin-bottom: 1rem;
      padding-inline-start: 0.75rem;
      padding-inline-end: 0.75rem;
      padding-top: 0.25rem;
      cursor: pointer;
      padding-bottom: 0.25rem;
      border-radius: 32px;
      transition: all 0.2s ease 0s;
      border: 1px solid #000000;
      min-width: fit-content;

      & h5 {
        font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
          "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji";
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600;
        display: block;
        white-space: nowrap;
        margin-bottom: 0;
      }
    }
  }

  &__inner {
    max-width: 960px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 50px;
    padding: 32px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;

    @include _744 {
      max-width: 100%;
      width: 100%;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 50px;
      height: auto;
      box-sizing: border-box;
      margin: 0px;
      min-width: 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 24px;
      background: #fff;
    }

    &-data {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      -webkit-box-pack: justify;
      justify-content: space-between;
      max-width: 100%;
      width: 100%;
    }
  }
}

.guide-profile-nav {
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 64px;
  display: flex;
  width: 100%;

  @include _744 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
  }

  &-list {
    display: flex;
    justify-content: left;
    width: 100%;
    overflow: auto hidden;
    max-width: 1062px;

    @include _744 {
      display: flex;
      justify-content: left;
      width: auto;
    }

    &-li {
      display: block;
      padding: 0px 20px 6px;
      position: relative;
      cursor: pointer;

      &-line {
        position: absolute;
        right: calc(10% - 10px);
        bottom: 0px;
        background-color: rgb(255, 102, 102);
        height: 5px;
        width: 90%;
        border-radius: 32px;
        transform: none;
        transform-origin: 50% 50% 0px;
      }

      & span {
        cursor: pointer;
        white-space: nowrap;
        font-weight: 700;
        font-size: 24px;
        line-height: 43px;
      }
    }
  }
}

.li-secondary {
  color: #afafaf;

  &:hover {
    color: #000;
  }
}

.guide-price {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  background: #000;
  padding-bottom: 25px;

  &-content {
    margin-top: 28px;
    margin-bottom: 0px;
    width: 100%;
    padding: 0px 8px;
    max-width: 1062px;

    @include _744 {
      margin-top: 8px;
      margin-bottom: 8px;
      padding: 0px 8px;
      -webkit-box-align: center;
      align-items: center;
      flex-flow: column wrap;
      width: 100%;
      max-width: 1062px;
    }

    &-title {
      font-size: 44px;
      line-height: 60px;
      text-align: center;
      padding-left: 0px;
      padding-top: 0px;
      padding-bottom: 8px;
      width: 100%;
      color: #fff;
      font-weight: 900;

      @include _744 {
        text-align: left;
        font-weight: 900;
        width: 100%;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 8px;
        font-size: 32px;
        line-height: 43px;
      }
    }

    &-desc {
      font-size: 16px;
      line-height: 27px;
      text-align: center;
      padding-left: 0px;
      width: 100%;
      color: #fff;
      padding-bottom: 28px;

      @include _744 {
        width: 100%;
        text-align: left;
        padding-left: 20px;
        padding-bottom: 8px;
        font-size: 12px;
        line-height: 20px;
      }
    }

    &-cards {
      display: flex;
      flex-flow: wrap;
      justify-content: space-evenly;
      width: 100%;

      &-item {
        display: flex;
      }
    }
  }
}

.guide-info {
  background-image: url("https://res.cloudinary.com/localie/image/upload/f_auto,w_1920,,/v1655300963/destinations/tr-istanbul2.jpg");
  background-size: cover;
  border-radius: 30px 30px 0px 0px;
  margin-top: -32px !important;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  width: 100%;
  flex-direction: column;

  @include _744 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  &-content {
    padding-inline: 40px;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include _744 {
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      width: 100%;
      padding-inline: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
      z-index: 1;
    }
    &-card {
      max-width: 960px;
      padding: 40px;
      width: 100%;
      margin: 0px 0px 40px !important;
      min-width: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include _744 {
        box-sizing: border-box;
        margin: 0px 0px 40px;
        min-width: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        width: auto;
      }

      &-btns {
        flex-direction: row;
        display: flex;

        @include _744 {
          flex-direction: column;
        }

        &-link {
          font-size: 18px;
          padding-inline: 32px;
          line-height: 32px;
          padding-top: 12px;
          padding-bottom: 12px;
          margin-bottom: 0px;
          margin-right: 40px;
          height: max-content;
          min-width: 3rem;
          display: inline-flex;
          appearance: none;
          -webkit-box-align: center;
          text-decoration: none;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          user-select: none;
          position: relative;
          white-space: nowrap;
          vertical-align: middle;
          outline: transparent solid 2px;
          outline-offset: 2px;
          border-radius: 12px;
          transition: all 0.3s ease 0s;
          color: #fff;
          background: #000;
          width: 100%;

          @include _744 {
            font-size: 16px;
            padding-inline: 24px;
            line-height: 24px;
            padding-top: 12px;
            padding-bottom: 12px;
            min-width: 2.5rem;
          }
        }
      }

      & h1 {
        text-align: center;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        margin-bottom: 48px;

        @include _744 {
          font-size: 28px;
          line-height: 38px;
          font-weight: 900;
          text-align: center;
          margin-bottom: 20px;
        }
      }

      &-desc {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0 0 40px;

        & p {
          text-align: center;
          font-size: 16px;
          width: 80%;
          color: #545454;
          margin-top: 0.25rem;
          margin-bottom: 0.25rem;

          @include _744 {
            width: 100%;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.mb-btn {
  @include _744 {
    margin-bottom: 16px !important;
  }
}

.link-2 {
  background: #ff5b5b;
  color: #fff;
}
