@import "../../styles/mixins";

.footer {
  padding: 40px;
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  background: #375E97;

  border-top: 1px solid #f6f6f6;

  @include _744 {
    padding: 20px 20px 96px;
  }

  &-content {
    flex-direction: row;
    padding-bottom: 0px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 0px;
    max-width: 960px;

    @include _744 {
      box-sizing: border-box;
      margin: 0px;
      min-width: 0px;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      padding-bottom: 48px;
    }
  }
}

.footer-left {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  width: 33.3333%;
  flex-direction: column;

  &-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }

  & img {
    width: 60px;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
  }

  @include _744 {
    width: 100%;
    display: none;
  }

  & h4 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: normal;
    text-transform: none;
    font-weight: 700;
    display: inline-block;
    color: #fff;
  }

  &-icon {
    box-sizing: border-box;
    margin: 0px 0px 32px;
    min-width: 0px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }
}

.footer-center {
  width: 66.6667%;
  justify-content: flex-end;
  // padding-top: 48px;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex-wrap: wrap;

  @include _744 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0px;
  }

  &-menu {
    width: auto;
    padding-right: 48px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    max-width: 224px;
    flex-direction: column;

    @include _744 {
      box-sizing: border-box;
      margin: 0px;
      min-width: 0px;
      display: flex;
      width: 50%;
      padding-right: 0px;
    }

    & h4 {
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 12px;
      color: #fff;
    }

    &-list {
      &-item {
        width: auto;
        padding-bottom: 0.75rem;
        display: flex;
        cursor: pointer;

        & p {
          color: #fff;
          font-style: normal;
          white-space: pre-wrap;
          line-height: 170%;
          font-size: 14px;
        }
      }
    }
  }
}
