// .profile {
//   display: flex;
//   align-items: flex-start;
//   margin-bottom: 4px;
//   width: 100%;
// }

// .profile-img {
//   position: relative;
//   width: 240px;
//   height: 240px;
//   margin-right: 2.5rem;
//   & img {
//     border-radius: 16px;
//     overflow: hidden;
//     display: flex;
//     height: auto;
//     max-width: 100%;
//     width: 100%;
//     max-height: 100%;
//   }
// }

// .profile-container {
//   max-width: 802px;
//   width: 100%;
//   margin-left: auto;
//   margin-right: auto;
// }

// .profile-container-inner {
//   padding: 20px 40px;
// }

// .profile-title {
//   & h3 {
//     font-weight: 900;
//     font-size: 28px;
//     letter-spacing: 1.2;
//   }
// }

// .edit-icon {
//   bottom: 12px;
//   left: 12px;
//   width: 32px;
//   height: 32px;
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   width: 24px;
//   position: absolute;
//   bottom: 4px;
//   left: 4px;
//   background: var(--chakra-colors-bgPrimary);
//   border-radius: 100%;
//   color: var(--chakra-colors-contentPrimary);
//   height: 24px;
//   cursor: pointer;

//   & svg {
//     width: 32px;
//     height: 32px;
//   }
// }

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-top {
  justify-content: flex-start;
  width: 100%;
  display: flex;
  margin-bottom: 2.5rem;
}

.profile-form {
  margin-right: 2.5rem;
  min-width: 240px;
  flex-direction: column;
  display: flex;
  margin-top: 0.5rem;

  &__label {
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
  }

  &_inner {
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }
}

.profile-img {
  position: relative;
  max-height: 100%;

  & img {
    display: flex;
    height: auto;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 16px;
    overflow: hidden;
    background: #fff;
  }
}

.edit {
  bottom: 12px;
  left: 12px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: #000;
  background: #fff;
  display: flex;
  position: absolute;
  border-radius: 100%;

  & svg {
    width: 32px;
    height: 32px;
  }
}
