.section-title {
  color: #375e97;
  font-weight: 700;
}

.regular {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 24px;
  width: 100%;
}

.button-title {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  border-radius: 30px;
  background-color: rgba(88, 86, 214, 0.63);
  text-align: center;
  padding: 8px 12px;
  margin-right: 16px;
  margin-bottom: 16px;

  padding-left: 24px;
  padding-right: 24px;
}
